<div class="spring"></div>
<div class="full-width">
  <section class="filter-top">
    <h2>{{title}}</h2>
    <button class="hide-toggle" {{action "toggleShow"}}>
      {{#if adding}}+{{else}}-{{/if}}
    </button>
    {{input value=searchFilter placeholder="SEARCH"}}
    <button {{action 'removeFilters'}}>
      Clear
    </button>
  </section>

  <section class="scrollable-tags">
    <ol>
      {{#each firstHundredTags as |ctrl|}}
        {{yield ctrl}}
      {{/each}}
    </ol>
  </section>
</div>
{{#unless adding}}
  <div class="spring"></div>
{{/unless}}
