{{space-background}}

<div class="overlay">
  <header>
    <h2 id="title">Star Trek Suggestor</h2>
  </header>

  <section class="body">
    {{#required-tags ctrls=tagControllers key="required" as |ctrl|}}
      {{filter-picker ctrl=ctrl filter=ctrl.required}}
    {{/required-tags}}

    <section class="suggestion">

      <section class="suggestion-header">
        <button {{action 'suggest'}}>
          Suggest New episode
        </button>

        {{#if suggestion}}
          <p>
            How about episode {{suggestion.num}}, <a href={{suggestion.link}}>{{suggestion.title}}</a>?
          </p>
        {{/if}}
      </section>

      <section class="full-episode-list">
        <ol>
          {{#each eligible as |episode|}}
            <li>
              <a href={{episode.link}}>{{episode.num}}: {{episode.title}}</a>
            </li>
          {{/each}}
        </ol>
      </section>
    </section>

    {{#required-tags ctrls=tagControllers key="rejected" as |ctrl|}}
      {{filter-picker ctrl=ctrl filter=ctrl.rejected}}
    {{/required-tags}}
  </section>
</div>
