<h2 id="title">Star Trek Suggestor</h2>

{{required-tags ctrls=tagControllers}}

<button {{action 'suggest'}}>
  Suggest New episode
</button>

{{#if suggestion}}
  How about you watch episode {{suggestion.num}}, <a href={{suggestion.link}}>{{suggestion.title}}</a>?
{{/if}}

<!--
<ol>
  {{#each model as |episode|}}
    <li>
      <h2>{{episode.title}}</h2>
      <ul>
        {{#each episode.tags as |tag|}}
          <li>
            {{tag.name}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ol>
-->
